.container {
    img {
        border-image-source: 5px;
        height: 80px;
        margin-top: 20%; 
        margin-bottom: 5%;
    }
}

ion-text {
    font-size: larger;
    font-weight: bold;
}

.padding {
    margin: 20px;
}

.button {
    margin: 40px;
}