ion-card {
    margin: 20px;
}

.ion-text {
    font-weight: bold;
    font-size: x-large;
}

.text-padding{
    padding-top: 30px;
    padding-left: 30px;
}

h3 {
    font-size: large;
    font-weight: bold;
}

