.container {
    img {
        height: 80px;
        margin-top: 30%; 
    }
}
  
.card-flex{
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.text-stl{
    font-size: small;
    font-weight: bold;
    color: #F5C6AA;
}

.text-stl2{
    font-size: small;
    font-weight: normal;
    color: #000;
}