<ion-content>

  <!--icon-->
  <div class = "container ion-text-center">
    <img src = "assets/icon/icon.png">
  </div>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="card-flex">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>

          <br>
          <ion-button [routerLink]="['/home']" expand="block" fill="solid" color="medium" type="submit">
            Login
          </ion-button>
        </ion-card-content>
      </ion-card>
      
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>

      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
  </form>
</ion-content>