<ion-content>
  <div class="text-padding" id="ion-text">
    <ion-text>Create Appointment</ion-text>
  </div>
  
  <ion-card>
    <ion-list lines="full">
      <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()" >

        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input formControlName="name" placeholder="First Name     Last Name" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-input formControlName="email" placeholder="Barangay    City    Province" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contact Number</ion-label>
          <ion-input formControlName="mobile" placeholder="09XX XXX XXX" type="text" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Enter Date</ion-label>
          <ion-input formControlName="date" required placeholder="MM-DD-YY"></ion-input>
        </ion-item>     

        <ion-item>
        <ion-label position="stacked">Enter Time</ion-label>
        <ion-input formControlName="time" required placeholder="00:00 AM/PM"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Select Type of Service</ion-label>
          <ion-input type="text" formControlName="serve" required placeholder="Type Name of Preferred Service"></ion-input>
          <ion-text id="ion-text-stl1"> Services Offered</ion-text>
          <ion-text id="ion-text-stl2">🔘 Haricut - Her/They</ion-text>
          <ion-text id="ion-text-stl2">🔘 Haircut - Him/They</ion-text>
          <ion-text id="ion-text-stl2">🔘 Gel Polish</ion-text>
          <ion-text id="ion-text-stl2">🔘 Foot Spa</ion-text>
          <ion-text id="ion-text-stl2">🔘 Manicure</ion-text>
          <ion-text id="ion-text-stl2">🔘 Pedicure</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Select Beautician</ion-label>
          <ion-input type="text" formControlName="beaut" required placeholder="Type Name of Preferred Beautician"></ion-input>
          <ion-text id="ion-text-stl1">Available Beauticians</ion-text>
          <ion-text id="ion-text-stl2">🔘 Darla</ion-text>
          <ion-text id="ion-text-stl2">🔘 Maya</ion-text>
          <ion-text id="ion-text-stl2">🔘 Darla</ion-text>
        </ion-item>
  
        <ion-row>
          <ion-col>
            <ion-button id="button" type="submit" (click)="presentAlert()" color="medium">Book</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </ion-card>
</ion-content>