.ion-datetime {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}

.txt{
    margin-top: 30px;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
}

.txt2{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

h2{
    font-weight: bold;
    padding-left: 5%;
    padding-top: 20px;
    color: black;
}

ion-card-content{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

#card{
    color: #F5C6AA;
    width:150px;
    height: auto;
}

img{
    margin-top: 5px;
    padding-left: 20px;
    align-items: center;
    text-align: center;
}

#price{
    font-size: small;
    color: #000;
}