<ion-content id="main">
    <div>
        <ion-text class="txt">Services Offered</ion-text>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-card full no-margin id="card-1">
                        <img id="img" src="/assets/iconpics/haircut.png">
                        <ion-card-content>
                        Hair Cut
                        <br>
                        <label id="price">Php 80.00</label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                    
                <ion-col size="6">             
                    <ion-card full no-margin id="card-2">
                        <img  src="/assets/iconpics/foot.png">
                        <ion-card-content>
                        Foot Spa
                        <br>
                        <label id="price">Php 250.00</label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>