ion-card {
    margin-left: 5%;
    margin-right: 5%;
}

#ion-text {
    font-weight: bold;
    font-size: x-large;
}

#ion-text-stl1 {
    font-weight: 100;
    font-size: smaller;
}
#ion-text-stl2 {
    font-style: italic;
    font-size: smaller;
}

.text-padding{
    padding-top: 30px;
    padding-left: 30px;
}

.button {
    padding-left: 50%;
}
