.container {
    img {
        border-image-source: 5px;
        height: 80px;
        margin-top: 30%; 
        margin-bottom: 5%;
    }
}

ion-text {
    font-size: larger;
    font-weight: bold;
}

.padding {
    margin: 20px;
}

.ion-button {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
